<center><img id="logo" src="images/logo.jpg" alt="rekolekcje 'Ten Trzeci'"/></center>

<div id="menu">
    <a href="#" title="O rekolekcjach" onclick="loadContent('o_rekolekcjach')"> o rekolekcjach </a>
    <a href="#" title="Plan" onclick="loadContent('plan')"> plan </a>
    <a href="#" title="Pytania" onclick="loadContent('pytania')"> pytania </a>
    <a href="#" title="Zapisy" onclick="loadContent('zapisy')"> zapisy </a>
    <a href="#" title="Świadectwa" onclick="loadContent('swiadectwa')"> świadectwa </a>
    <a href="#" title="Wspolnota" onclick="loadContent('wspolnota')"> wspólnota </a>
</div>

<hr/>
