<center><img id="logo" src="images/logo.jpg" alt="rekolekcje 'Ten Trzeci'" /></center>

<div id="menu">
	<a href="index.html" title="O rekolekcjach"> o rekolekcjach </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="plan.html" title="Plan"> plan </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="pytania.html" title="Pytania"> pytania </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="zapisy.html" title="Zapisy"> zapisy </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="swiadectwa.html" title="Świadectwa"> świadectwa </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="wspolnota.html" title="Wspolnota"> wspólnota </a>
</div>

<hr />
