<div style="text-align: center;"><img id="logo" src="images/tentrzeci_header.jpg" alt="rekolekcje 'Ten Trzeci'"/></div>

<div id="menu">
    <a href="#" title="O REKOLEKCJACH" onclick="loadContent('o_rekolekcjach')"> O REKOLEKCJACH </a>
    <a href="#" title="KTO PROWADZI" onclick="loadContent('wspolnota')"> KTO PROWADZI </a>
    <a href="#" title="PLAN" onclick="loadContent('plan')"> PLAN </a>
    <a href="#" title="PYTANIA" onclick="loadContent('pytania')"> PYTANIA </a>
    <a href="#" title="ZAPISY" onclick="loadContent('zapisy')"> ZAPISY </a>
    <a href="#" title="ŚWIADECTWA" onclick="loadContent('swiadectwa')"> ŚWIADECTWA </a>
</div>

<hr/>
