<h1>O REKOLEKCJACH</h1>

<p>
    <strong>Ten Trzeci</strong>
    to weekendowe rekolekcje ewangelizacyjne.
    Adresowane są zarówno do osób, które chcą doświadczyć spotkania z Bogiem w swoim życiu,
    jak i do tych, które nie wierzą, że jest to w ogóle możliwe i potrzebne; do tych,
    którzy widzą bezsens, zniewolenie i grzech w swoim życiu, jak i do tych, których życie jest po prostu OK.
</p>

<p>
    Niezależnie od tego ile masz lat, kim jesteś, jaka jest Twoja wiara, kim dzisiaj jest dla Ciebie Bóg,
    czy czujesz się kochany, wartościowy i szczęśliwy, czy wręcz przeciwnie – po prostu:
</p>
<p class="highlight">
    DAJ SIĘ ODNALEŹĆ JEZUSOWI! <br/>
    TWOJE ŻYCIE NIE JEST MU OBOJĘTNE!
</p>

<p>
    Chcesz dowiedzieć się kim jest tajemniczy "Ten Trzeci" i jaki ma związek z Tobą? Przyjdź!
</p>

<p>
    Rekolekcje <strong>Ten Trzeci</strong> mają swoje źródło w prowadzonym przez wspólnotę Ichtis przez wiele lat Kursie
    Filip.
    Są one jedną z odpowiedzi na wyraźną potrzebę Nowej Ewangelizacji w Kościele.
    Zawierają nowy w formie, żywy i prosty przekaz Dobrej Nowiny skierowany do współczesnego człowieka.
</p>

<p>
    Rekolekcje prowadzi Wspólnota Modlitewno-Ewangelizacyjna ICHTIS z Wrocławia.
</p>