<h1>PLAN</h1>

<br/>

<div>
    <p>
        Ramowy i orientacyjny program rekolekcji wygląda następująco:
    </p>

    <p><strong>PIĄTEK</strong></p>
    <ul>
        <li><strong>17:00 - 17.30</strong> - Rejestracja uczestników</li>
        <li><strong>17:30 - 19:30</strong> - blok tematyczny</li>
        <li><strong>19:30</strong> - wspólna kolacja</li>
    </ul>
    <br/>

    <p><strong>SOBOTA</strong></p>
    <ul>
        <li><strong>&nbsp;9:00 - 14:00</strong> - blok tematyczny (z przerwami na kawę, herbatę i ciastko)</li>
        <li><strong>14:00 - 16:00</strong> - wspólny obiad i przerwa</li>
        <li><strong>16:00 - 18:00</strong> - blok tematyczny (z przerwami na kawę, herbatę i ciastko)</li>
        <li><strong>18:00</strong> - wspólna kolacja</li>
    </ul>
    <br/>

    <p><strong>NIEDZIELA</strong></p>
    <ul>
        <li><strong>&nbsp;9:00 - 15:30</strong> - blok tematyczny (z przerwami na kawę, herbatę i ciastko)</li>
        <li><strong>15:30</strong> - Eucharystia na zakończenie i wspólny obiad</li>
    </ul>
    <br/>

    <p>
        Podane godziny są orientacyjne i mogą ulec małym korektom w trakcie rekolekcji.
        Szczegółowy program rekolekcji Ten Trzeci okryty jest tajemnicą. Brzmi poważnie, prawda? Zaufaj.
        To jak pierwsze spotkanie z dziewczyną/chłopakiem, jak prezent pod choinkę,
        a może jak wyjazd w miejsce nowe, nieznane, gdzie jeszcze nie byłeś, które dopiero dla siebie odkryjesz.
    </p>

    <p>
        Forma rekolekcji odbiega od tradycyjnej "gadającej głowy".
        Program jest dynamiczny, zawiera elementy, których uprzednie ujawnienie uczestnikowi mogłoby spowodować,
        że przeżyłby on ten czas całkowicie bezowocnie. To tak jakby od początku filmu kryminalnego wiedzieć,
        kto jest sprawcą zbrodni.
    </p>
</div>

		