<h1>PLAN</h1>

<br/>

<div>
    <p>
        Ramowy program rekolekcji wygląda następująco:
    </p>

    <p>Piątek:</p>
    <ul>
        <li>17:00 - 17.30 - Rejestracja uczestników</li>
        <li>17:30 - 19:30 - blok tematyczny</li>
    </ul>
    <br/>

    <p>Sobota:</p>
    <ul>
        <li>&nbsp;9:00 - 14:00 - blok tematyczny (z przerwami na kawę, herbatę i ciastko)</li>
        <li>14:00 - 16:00 - przerwa obiadowa (zapewniamy obiad i jemy razem)</li>
        <li>16:00 - 18:00 - blok tematyczny (z przerwami na kawę, herbatę i ciastko)</li>
    </ul>
    <br/>

    <p>Niedziela:</p>
    <ul>
        <li>&nbsp;9:00 - 15:30 - blok tematyczny (z przerwami na kawę, herbatę i ciastko), na zakończenie niedzielna
            Eucharystia
        </li>
    </ul>
    <br/>

    <p>
        Szczegółowy program rekolekcji "Ten Trzeci" okryty jest tajemnicą. Brzmi poważnie, prawda? Zaufaj.
        To jak pierwsze spotkanie z dziewczyną/chłopakiem, jak prezent pod choinkę,
        a może jak wyjazd w miejsce nowe, nieznane, gdzie jeszcze nie byłeś, które dopiero dla siebie odkryjesz.
    </p>

    <p>
        Forma rekolekcji odbiega od tradycyjnej "gadającej głowy".
        Program jest dynamiczny, zawiera elementy, których uprzednie ujawnienie uczestnikowi mogłoby spowodować,
        że przeżyłby on ten czas całkowicie bezowocnie. To tak jakby od początku filmu kryminalnego wiedzieć,
        kto jest sprawcą zbrodni.
    </p>
</div>

		