<h1>PYTANIA</h1>

<p>Poniżej zamieszczamy odpowiedzi na najczęściej zadawane pytania dotyczące rekolekcji:</p>


<p><strong>
    Czy rekolekcje są prowadzone przez osobę duchowną?
</strong><br/>

    Tak. Rekolekcje prowadzone są przez osoby ze wspólny Ichtis oraz prezbitera wspólnoty br. Macieja Jabłońskiego
    OFM Cap.
    Nie dopuszczamy takiej możliwości, żeby rekolekcje odbyły się bez obecności kapłana.
</p>


<p><strong>
    Skąd nazwa "Ten Trzeci"?
</strong><br/>

    Motywem przewodnim całych rekolekcji jest opowieść o pewnym człowieku, który na swojej drodze spotkał różnych ludzi. My skupimy się na tym trzecim – w trakcie rekolekcji stopniowo wszystko będzie się stawać jasne i przejrzyste. Póki co, musimy zostawić tę odrobinę zachęcającej (mamy nadzieję) tajemniczości.
</p>


<p><strong>
    Czy rekolekcje odbywają się w ciszy?
</strong><br/>

    Nie, chociaż są pewne momenty, kiedy uczestnicy proszeni są o zachowanie milczenia. Generalnie forma rekolekcji jest dość dynamiczna i dużo się dzieje.
</p>


<p><strong>
    Ile osób uczestniczy jednocześnie w rekolekcjach? Czy są jakieś limity? Czy są tworzone jakieś gr
    upy wiekowe i
    czy ma to znaczenie?</strong><br/>

    Optymalnie, i tak to się z reguły układa, że uczestniczy jednorazowo ok. 30 osób, choć nie ma limitu co do
    ilości uczestników.
    Nie tworzy się grup wiekowych, gdyż nie ma takiej potrzeby. Rekolekcje są dla każdego.
</p>


<p><strong>
    Ile kosztuje uczestnictwo w rekolekcjach "Ten Trzeci"?
</strong><br/>

    Koszt udziału w rekolekcjach to £20. Podczas zapisów zostaniesz poinformowany o tym w jaki sposób dokonać wpłaty.
</p>


<p><strong>
    Nie jestem katoliczką. Ale ciekawa jestem tych rekolekcji. Czy mogę wziąć w nich udział?
</strong><br/>

    Oczywiście, że możesz.
    To, że nie jesteś katoliczką oznacza jedynie, że tę wielką chwilę obdarowania Łaską Wiary masz jeszcze przed
    sobą. :)
    Przyjdź i poznaj Tego Trzeciego.
</p>


<p><strong>
    Czy na tych rekolekcjach dużo się o sobie mówi innym?
</strong><br/>

    Nie. Najważniejszy dialog jaki prowadzisz - to ten z Panem Bogiem, w Twoim sercu.
</p>


<p><strong>
    Czy w rekolekcjach "Ten Trzeci" mogą uczestniczyć osoby konsekrowane?
</strong><br/>
    Tak, rekolekcje "Ten Trzeci" są otwarte dla każdego.
</p>


<p><strong>
    Co należy zabrać ze sobą na rekolekcje?
</strong><br/>
    Przychodząc weź ze sobą Pismo Święte (jeśli masz) i coś do notowania.
</p>