<h1>PYTANIA</h1>

<p>Poniżej zamieszczamy odpowiedzi na najczęściej zadawane pytania dotyczące rekolekcji:</p>


<h2>Czy Kurs jest prowadzony przez osobę duchowną?</h2>

<p>
    Tak. Rekolekcje prowadzone są przez osoby ze wspólny Ichtis oraz prezbitera wspólnoty br. Macieja Jabłońskiego
    OFM Cap.
    Nie dopuszczamy takiej możliwości, żeby rekolekcje odbyły się bez obecności kapłana.
</p>


<h2>Skąd nazwa "Ten Trzeci"?</h2>

<p>
    Motywem przewodnim całych rekolekcji jest opowieść o pewnym człowieku, który na swojej drodze spotkał różnych
    ludzi.
    My skupimy się na tym trzecim - w trakcie rekolekcji stopniowo wszystko będzie się stawać jasne i przejrzyste.
    Póki co, musimy zostawić tę odrobinę zachęcającej (mamy nadzieję) tajemniczości.
</p>


<h2>Czy rekolekcje odbywają się w ciszy?</h2>

<p>
    Nie, chociaż są pewne momenty, kiedy uczestnicy proszeni są o zachowanie milczenia.
    Generalnie forma rekolekcji jest dość dynamiczna i dużo się dzieje.
</p>


<h2>Ile osób uczestniczy jednocześnie w rekolekcjach? Czy są jakieś limity? Czy są tworzone jakieś grupy wiekowe i
    czy ma to znaczenie?</h2>

<p>
    Optymalnie, i tak to się z reguły układa, że uczestniczy jednorazowo ok. 30 osób, choć nie ma limitu co do
    ilości uczestników.
    Nie tworzy się grup wiekowych, gdyż nie ma takiej potrzeby. Rekolekcje są dla każdego.
</p>


<h2>Ile kosztuje uczestnictwo w rekolekcjach "Ten Trzeci"?</h2>

<p>
    Tutaj Cię zaskoczymy. Uczestnictwo jest całkowicie darmowe (chyba, że konieczne jest zakwaterowanie).
    Ponieważ jednak przygotowanie materiałów wymaga od nas pewnych nakładów finansowych - na koniec
    zwracamy się do uczestników z prośbą o dobrowolny datek na potrzeby kolejnych edycji rekolekcji.
    Jest to dobrowolna ofiara i nie uzależniamy od niej udziału żadnego z uczestników.
</p>


<h2>Nie jestem katoliczką. Ale ciekawa jestem tych rekolekcji. Czy mogę wziąć w nich udział?</h2>

<p>
    Oczywiście, że możesz.
    To, że nie jesteś katoliczką oznacza jedynie, że tę wielką chwilę obdarowania Łaską Wiary masz jeszcze przed
    sobą. :)
    Przyjdź i poznaj Tego Trzeciego.
</p>


<h2>Czy na tych rekolekcjach dużo się o sobie mówi innym?</h2>

<p>
    Nie. Na początku uczestnicy mają możliwość przedstawienia się, ale nie jest to konieczne.
    Najważniejszy dialog jaki prowadzisz - to ten z Panem Bogiem, w Twoim sercu.
</p>


<h2>Czy w rekolekcjach "Ten Trzeci" mogą uczestniczyć osoby konsekrowane?</h2>
<p>
    Tak, rekolekcje "Ten Trzeci" są otwarte dla każdego od 16-go roku życia.
</p>


<h2>Co należy zabrać ze sobą na rekolekcje?</h2>
<p>
    Przychodząc weź ze sobą Pismo Święte (jeśli masz) i coś do notowania.
</p>