<h1>ŚWIADECTWA</h1>

<p>
    Wiemy, że najlepszą zachętą do uczestniczenia w rekolekcjach może być świadectwo tego, kto w nich już
    uczestniczył i doświadczył tam żywej miłości i obecności Pana Boga.
</p>

<p>
    Ponieważ rekolekcje "Ten Trzeci" prowadzone są od niedawna, poniżej kilka opowieści właśnie o "Kursie Filip" -
    poprzedniku Tego Trzeciego.
</p>

<p><strong>Daniel l.28</strong></p>

<p>Przez lata żyłem relatywnie blisko Kościoła, byłem ministrantem, chodziłem na niedzielne msze, nawet w miarę
    regularnie się spowiadałem. Jednak nigdy nie dostrzegałem w tym niczego pociągającego, niczego czego nie
    musiałbym tłumaczyć: "tak wychowali mnie rodzice" lub "taka jest tradycja". Ten brak głębszego przeżywania wiary
    sprowadził moje życie religijne do rytuałów, co w konsekwencji spowodowało, że niemal ze wszystkiego co miało
    związek z wiarą zrezygnowałem i oddaliłem się od Boga na dobre. Przestałem mieć wzgląd na konsekwencje moich
    decyzji, moralnie stałem się obojętny, poważnym problemem stało się zaniedbywanie studiów, alkohol i
    nieuporządkowana seksualność. Chociaż z zewnątrz mogłem wydawać się na szczęśliwą osobę, w duchu czułem rosnący
    lęk, brak akceptacji i ciągłą tęsknotę za czymś naprawdę głębokim i szlachetnym w moim życiu. Tymczasem to co
    robiłem, kim byłem sprawiało, że czułem się brudny i nic nie warty. Do czasu kiedy Bóg odpowiedział na moje
    desperackie wołanie. Spotkałem ludzi, którzy byli jacyś inni, mieli w sobie niekłamaną radość, tchnęło od nich
    pokojem którego ja nie miałem. Wiedziałem, że mogę im ufać i widziałem w nich to coś pięknego i szlachetnego co
    było moją tęsknotą. To oni opowiedzieli mi o tym, że wszystko co robimy w Kościele wynika z tego, że Bóg nas
    kocha bezwarunkowo, to był ten moment kiedy zrozumiałem, skąd brać siłę do walki ze słabościami. Dzięki temu
    spotkaniu trafiłem na kurs Filip, gdzie prawdziwie doświadczyłem Bożej miłości. To jest czas gdzie ta dobra
    wiadomość ma wreszcie szansę przedrzeć się przez gąszcz stereotypów, uprzedzeń i obojętności i może dotrzeć do
    serca i uzdrowić je. Tak stało się w moim przypadku i od tego czasu żyję nowym życiem, stałem się innym
    człowiekiem, porzuciłem całe to zło które było wcześniej moim udziałem. Jestem szczęśliwy i wiem, że takie
    wydarzenia jak kurs Filip były tego początkiem.
    <br/>
    Chwała Panu!</p>

<br/>

<p><strong>Maciek l.24</strong></p>

<p>Na kurs Filip trafiłem przypadkowo, ale było to bardzo ważne wydarzenie w moim życiu. Choć jako ministrant przez
    długi czas miałem kontakt z Kościołem, po raz pierwszy usłyszałem wtedy dobrą nowinę o tym, że Bóg kocha mnie za
    darmo, że jestem dla niego kimś bardzo ważnym. I że nie jest to tylko teoria. Bardzo mocno doświadczyłem też
    wtedy Jego obecności i czułej miłości. Był to moment, w którym moje życie zaczęło się zmieniać. Zacząłem wtedy
    odkrywać, że może ono mieć sens, że mogę być naprawdę szczęśliwy. Wcześniej nie widziałem tego w swoim życiu. To
    doświadczenie stało się dla mnie fundamentem na wiele kolejnych lat. Był to początek pewnej drogi, przeżywania
    mojej codzienności razem z Chrystusem. Cieszenia się pełnią życia :)</p>

<br/>

<p><strong>Maciek l.22</strong></p>

<p>Moje doświadczenie związane z kursem "Filip" jest zupełnie nietypowe. Otóż było mi dane przeżyć go po dwakroć,
    ale do rzeczy.</p>
<p>Byłem bardzo młody kiedy poszedłem na "Filipa". Myślę, że wówczas troszkę ograniczał mnie wiek. Wprawdzie zawsze
    byłem blisko Kościoła i Pana Boga, to jednak nie wszystkie treści we mnie wybrzmiały. Oczywiście był to dla mnie
    czas błogosławiony i bez wątpienia czułem działanie Boga. Po kursie miałem dużo więcej radości w sobie i siły do
    przezwyciężania swoich słabości. Część treści, które do mnie przemówiły, zacząłem w jakimś stopniu realizować w
    swoim życiu. Mogę śmiało powiedzieć, że dzięki temu doświadczeniu zacząłem się zmieniać.</p>
<p>Następne moje spotkanie z Bogiem na kursie "Filip" miało miejsce jakiś czas później. Zostałem na niego skierowany
    odgórnie, gdyż animatorzy we wspólnocie nie wiedzieli, iż już miałem styczność z tym doświadczeniem. Nie
    zaoponowałem, chociaż miałem wewnętrzne przekonanie, że to będzie raczej czas stracony. Myliłem się... Mimo że
    była to wersja okrojona (ze względu, iż był to czas rekolekcji i nie było też zbyt wiele czasu), to jednak
    wystarczająca, by Pan doświadczył mnie swoją miłością. Pamiętam jak dziś, kiedy siedziałem przed Najświętszym
    Sakramentem i płakałem... Wtedy bowiem uświadomiłem sobie, jak bardzo kocha mnie Bóg. Był to dla mnie impuls, by
    podejść do Sakramentu Spowiedzi. Nie wiem ile czasu na nią poświeciłem - 2 godziny? W każdym razie czułem się
    potem rewelacyjnie. Natomiast Bóg udowodnił mi, iż przychodzi nawet wtedy, kiedy nie widzę takiej możliwości i
    kiedy jestem sceptycznie nastawiony - wówczas do drugiego podejścia do kursu.</p>
<p>Tak więc mogę powiedzieć szczerze, że dzięki "Filipowi" moje życie się zmieniło - na lepsze. Można też rzec, iż
    mój kurs był dwuetapowy, ale przecież wiadomo, że każdego Pan doświadcza w inny sposób. Dlatego gorąco zachęcam
    wszystkich, by również dali szansę Bogu, by mógł działać poprzez czas kursu "Filip".</p>

<br/>
<br/>

<p>
    Jeżeli chcesz, możesz podzielić się swoim doświadczeniem przeżytego kursu, wysyłając wiadomość na adres <a
        href="mailto:ichtis@kapucyni.pl">ichtis@kapucyni.pl</a>
</p>