<h1>KTO PROWADZI</h1>

<p>
    Rekolekcje "Ten Trzeci" prowadzi:
</p>

<p style="text-align: center;">
    <strong>WSPÓLNOTA MODLITEWNO-EWANGELIZACYJNA ICHTIS</strong><br/> z Wrocławia
</p>

<p>
    To grupa młodych ludzi, którzy od ponad 12 lat rozwijają wspólnie swoją relację z Bogiem we wspólnocie. Wspólnota
    działa przy parafii p.w. św. Augustyna we Wrocławiu (Bracia Mniejsi Kapucyni).
</p>
<p>
    Więcej informacji o nas znajdziesz pod adresem <a href="http://www.ichtis.kapucyni.pl" title="ichtis">ichtis.kapucyni.pl</a>
    lub <a href="http://facebook.com/ichtis.wroclaw" title="ichtis">facebook.com/ichtis.wroclaw</a>.
</p>