<h1>ZAPISY</h1>

<strong>Termin</strong>

<p>
    Najbliższe rekolekcje "Ten Trzeci" odbędą się <p/>
<p class="highlight">
    W TERMINIE 10-12.02.2017<br/>
    W POLSKIEJ LOKALNEJ MISJI KATOLICKIEJ W SWINDON<br/>
    Walton Close, SN3 2JU, Swindon
</p>

<p>
    <strong>Warunki uczestnictwa</strong>
    <br/>
    Rekolekcje stanowią integralną całość, dlatego można je dobrze przeżyć tylko jeśli uczestniczy się w nich od
    początku do końca.
    Stąd nie ma możliwości uczestnictwa tylko w części (poza przypadkami losowymi).
    Jeśli nie jesteś w stanie uczestniczyć w całych rekolekcjach - przełóż inne rzeczy, bo naprawdę warto!
    Zaprasza Cię sam Bóg.
</p>

<p>
    Jednak prosimy - nie odkładaj uczestnictwa w rekolekcjach z błahych powodów.
    Czas jest krótki, a zaproszenie przyszło do Ciebie właśnie dzisiaj nieprzypadkowo.
</p>

<p><strong>Zakwaterowanie</strong><br/>
    Zakładamy, że uczestnicy rekolekcji mieszkają w Swindon lub okolicy i po zakończeniu każdego dnia wracają na noc do
    swoich domów.
</p>

<p>
    <strong>Zapisy</strong>
    <br/>
    Warunkiem koniecznym do tego, aby rekolekcje się odbyły jest... obecność uczestników. :)
    Dlatego konieczne jest zgłoszenie wcześniej swojego uczestnictwa.
    Potrzebujemy wiedzieć ile przybędzie osób, ponieważ wymaga to przygotowania określonej ilości materiałów.
</p>

<p>
    Zgłoszenia przyjmuje:
</p>
<p class="highlight">
    DOROTA BIDAS<br/>
    <a class="highlight" href="mailto:dorotaaa3@wp.pl">DOROTAAA3@WP.PL</a><br/>
    TEL. 07874906191
</p>