<h1>ZAPISY</h1>

<h2>Termin</h2>

<p>
    Najbliższe rekolekcje "Ten Trzeci" odbędą się w dniach <big><strong>21-23.10.2016</strong></big>
    w parafii p.w. św. Augustyna przy ul. Sudeckiej 90 we Wrocławiu.
    Rejestrację uczestników rozpoczynamy o godz. 17.00 w kaplicy na II p. Domu Sióstr Felicjanek (będą drogowskazy).
</p>

<h2>Warunki uczestnictwa</h2>

<p>
    Rekolekcje stanowią integralną całość, dlatego można je dobrze przeżyć tylko jeśli uczestniczy się w nich od
    początku do końca.
    Stąd nie ma możliwości uczestnictwa tylko w części (poza przypadkami losowymi).
    Jeśli nie jesteś w stanie uczestniczyć w całych rekolekcjach - przełóż inne rzeczy, bo naprawdę warto!
    Zaprasza Cię sam Bóg. A jeżeli nie da się "ominąć" przeszkód to najlepiej poczekać na inny dogodny termin.
</p>

<p>
    Jednak prosimy - nie odkładaj uczestnictwa w rekolekcjach z błahych powodów.
    Czas jest krótki, a zaproszenie przyszło do Ciebie właśnie dzisiaj nie przez przypadek.
</p>

<h2>Zakwaterowanie</h2>

<p>
    Zakładamy, że uczestnicy rekolekcji mieszkają we Wrocławiu i po zakończeniu każdego dnia wracają na noc do
    swoich domów.
    W wyjątkowych sytuacjach, dla uczestników przyjezdnych istnieje możliwość zakwaterowania na terenie naszej
    parafii.
    Ilość miejsc jest jednak ograniczona, dlatego przed zapisaniem się skontaktuj się z nami.
</p>

<h2>Zapisy</h2>

<p>
    Warunkiem koniecznym do tego, aby rekolekcje się odbyły jest... obecność uczestników. :)
    Dlatego konieczne jest (poza wyjątkami) zgłoszenie wcześniej swojego uczestnictwa.
    Potrzebujemy wiedzieć ile przybędzie osób, ponieważ wymaga to przygotowania określonej ilości materiałów.
</p>

<p>
    Zgłoszenia przyjmujemy za pomocą poniższego formularza:
</p>


<form method="post" action="wyslij.php" name="kontakt">

    <table>

        <tr>
            <td>
                <label for="nick">Imię i nazwisko: </label>
            </td>
            <td>
                <input type="text" class="text" id="nick" name="nick" required>
            </td>
        </tr>

        <tr>
            <td>
                <label for="mail">Twój adres e-mail: </label>
            </td>
            <td>
                <input type="email" name="mail" class="text" id="mail" required>
            </td>
        </tr>

        <tr>
            <td>
                <label for="age">Twój wiek: </label>
            </td>
            <td>
                <input type="number" name="age" class="text" id="age" required>
            </td>
        </tr>

    </table>
    <br/>

    <div>
        <p>
            <label for="tresc">Uwagi: </label>
            <br/>
            <textarea name="tresc" id="tresc" rows="3" cols="70"></textarea>
        </p>
    </div>
    <br/>

    <div>
        <center><input type="submit" value="Wyślij"/></center>
    </div>

</form>

<br/>

<p>
    Jeżeli masz jakieś pytania, możesz skontaktować się z nami wysyłając wiadomość na adres <a
        href="mailto:zapisy@tentrzeci.pl">zapisy@tentrzeci.pl</a>
</p>