@font-face {
    font-family: BebasNeue;
    src: url('fonts/BebasNeue Regular.otf');
}

@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans-Regular.ttf');
}


body {
    margin: 0 auto;
    padding: 0;
    font-family: OpenSans, 'Courier New', Courier, monospace;
    color: #474747;
    background-color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 15px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin-top: 0;
    margin-bottom: 5px;
}

#leftsidebar {
    margin: 0 auto;
    width: 900px;
}

#logo {
    margin: 0 auto;
}

#header {
    margin: 0;
    border: 0;
}

#menu {
    font-size: 1.5em;
    font-family: BebasNeue;
    margin: 30px 0 15px 0;
    border: 0;
    padding: 0;
    text-align: center;
}

#menu a {
    color: #29235C;
    text-decoration: none;
    padding: 0 30px 0 30px;
}

#content {
    color: #474747;
    clear: left;
    padding: 10px 0px 10px 0px;
    margin: 0 40px 0 40px;
    line-height: 1.6em;
}

h1 {
    font-family: BebasNeue;
    font-size: 1.8em;
    color: #29235C;
    padding: 20px 0 10px 0;
}

hr {
    color: #29235C;
    size: 0.2px;
}

a {
    color: #474747;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

#footer {
    color: #474747;
    clear: left;
    padding: 50px 0px 10px 0px;
    line-height: 1.6em;
    text-align: center;
    font-size: 0.8em;
}

table {
	padding: 0 0 0 15px;
}

ul {
	text-align: left;
	padding: 20px 0 0 35px;
}
