@font-face {
    font-family: Evogria;
    src: url('fonts/Evogria.otf');
}

@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: LatoBlack;
    src: url('fonts/Lato-Black.ttf');
}

body {
    width: auto;
    margin: 0 auto;
    padding: 0;
    font-family: Lato, sans-serif;
    color: #262626;
    background: #fff no-repeat fixed bottom;
    text-align: justify;
}

strong {
    font-family: LatoBlack, sans-serif;
}

#content {
    width: 800px;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    line-height: 1.6em;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 1.6em 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 35px;
}

li {
    margin-top: 0;
    margin-bottom: 5px;
}

h1 {
    font-family: Evogria, serif;
    font-size: 1.5em;
    color: #262626;
    padding: 20px 0 10px 0;
    text-align: center;
}

hr {
    border: 0;
    height: 3px;
}

a {
    color: #262626;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

table {
    padding: 0 0 0 15px;
}

#logo {
    margin: 0 auto;
}

#header {
    margin: 0;
    border: 0;
}

#menu {
    font-size: 1.2em;
    font-family: Evogria, serif;
    margin: 30px 0 15px 0;
    border: 0;
    padding: 25px;
    text-align: center;
    background: #e8253b;
}

#menu a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

#menu a:hover {
    color: #262626;
    font-weight: normal;
}

#footer {
    clear: left;
    background: #262626;
    padding: 20px 0 40px 0;
    line-height: 1.6em;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
}

#footer a{
    color: #fff;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.highlight {
    font-family: LatoBlack, sans-serif;
    color: #e8253b;
    text-align: center;
    font-size: 1.2em;
}

